{% extends 'default.html' %}
{% block headers %}
    <script src={{ url_for('static', filename='./scripts/index.js')}} defer></script>
{% endblock %}
{% block title %}Listings{% endblock %}
{% block content %}
<div class="pt-2">
       <h2>Shorten my URL</h2>
    <form method="POST">
        <form>
            <div class="form-group">
                <label for="url-input">Url to shorten: </label>
                <input type="text" id="url-input" name="url" required />
                <button type="submit" class="btn btn-primary my-1">Submit</button>
            </div>     
          </form>
    </form>
</div>
 
{% endblock %}
